networks:
  expense: {}
  # docker volume create mysql
volumes:
  mysql:
services:
  backend:
    image: shivakrishna44/backend:1.0.0
    command: sh -c "sleep 10 && node /opt/backend/index.js"
    networks:
    - expense
    container_name: backend
    depends_on:
    - mysql

services:
  mysql:
    image: shivakrishna44/mysql:1.0.0
    container_name: mysql
    networks:
      - expense
    volumes:
      - mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -pExpenseApp@1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  # docker run -d --name mysql --network expense -v mysql:/var/lib/mysql mysql:1.0.0

  frontend:
    image: shivakrishna44/frontend:1.0.0
    networks:
    - expense
    container_name: frontend
    ports:
    - 80:80
    depends_on:
    - backend
  
  